.btn-large {
  width: 150px;
}
.card {
  height: 125.3px;
  width: 84.75px;
  margin-right: 10px;
}
.collapsable-header {
  width: 150px;
}
#userhand{
  height: 153px;
}
.fillmurray {
  opacity: 1;
}
